<div >
<table class="table-bordered table-hover ">
    <thead>
      <tr >
        <th class="table-sticky" scope="col" *ngFor="let header of displayedColumns" >{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" *ngFor="let data of news">
        <td>{{data.num_comments}}</td>
        <td>{{data.points}}</td>
        <td><a href="javascript:void(0)" (click)="updateVotes(data.points,data.objectID)"><span class="fa fa-caret-up arrow-up" ></span></a>
        </td>
        <td class="left">{{data.title}}<span class="grey"> ({{data.url}}) by </span>
                <span>{{data.author}}</span>
                <span class="grey"> 4 hours ago </span>
                <a href="javascript:void(0)" (click)="hideNews(data.objectID)"><span>(hide)</span></a>
         </td>
      </tr>
    </tbody>
  </table>
  <div>
<span class="right" >
  <a class="orange" [class.disabled]="isActive || page==1" href="javascript:void(0)"  (click)="previousPage(page)">Previous</a> <span class="orange"> | </span>
  <a [class.disabled]="isActive" href="javascript:void(0)" class="orange" (click)= "nextPage(page)">Next</a>
  <!-- <small class = "margin-left: 20%" >{{page}}</small>  -->
</span>
</div>

</div>

<div  class="py-4">
  <app-home-graph></app-home-graph>
</div>
